@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #8F4058;
}

#column-2 {
  background: #2D2946;
}

#column-3 {
  background: #C2AC35;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #15423E;
  }

  #column-1 {
    background-color: #C2560E;
    width: 50%;
  }

  #column-2 {
    background-color: #470034;
    width: 50%;
  }

  #column-3 {
    background-color: #5C8F8C;
    width: 50%;
  }

  footer {
    background-color: #4DC748;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #174234;
  }

  #column-1 {
    background-color: #83CCB5;
    width: 33.33%;
  }

  #column-2 {
    background-color: #42C299;
    width: 33.33%;
  }

  #column-3 {
    background-color: #2A423B;
    width: 33.33%;
  }

  footer {
    background-color: #308F71;
  }

}
